<!DOCTYPE html>
<html>
    <head>
        <title>Prijava</title>
        <link href="~/Content/jqx.base.css" rel="stylesheet" />
        <link href="~/Content/jqx.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/jqx.metro.css" rel="stylesheet" />
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <script src="~/Scripts/jqxcore.js"></script>
        <script src="~/Scripts/jqxinput.js"></script>
        <script src="~/Scripts/jqxbuttons.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>