<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AccountsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49926/AccountsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AccountsService"
                contract="WebServices.AccountsService.AccountsService" name="BasicHttpBinding_AccountsService" />
        </client>
    </system.serviceModel>
</configuration>