@using rs.mvc.Korisnici.Model
@using Korsinici.Web.Helpers
<!DOCTYPE html>
@{
    var korisnik = (Korisnik)ViewData["Korisnik"];
    var link = @Url.ActionAbsolute("MojProfil", "Account") + "?verificationKey=" + korisnik.TemporaryPassword;
}
<div>
    @if (korisnik != null) {
        <div>Hey, we want to verify that you are indeed @korisnik.KorisnickoIme. If that's the case, please follow the link below:</div>
        <a href="@link" target="_blank">@link</a>
    }
</div>