<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KorisniciConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:ahg2g9tnre.database.windows.net,1433;Database=korisnici;User ID=zeks@ahg2g9tnre;Password=Z3ks_J0va;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>

</configuration>